rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function currentAdminDocPath() {
      return /databases/(default)/documents/admins/$(request.auth.uid);
    }

    function isApprovedAdmin() {
      return request.auth != null &&
        firestore.exists(currentAdminDocPath()) &&
        (
          !('approved' in firestore.get(currentAdminDocPath()).data) ||
          firestore.get(currentAdminDocPath()).data.approved == true
        );
    }

    match /admin-assets/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isApprovedAdmin() && request.auth.uid == userId;
    }
  }
}
